* {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
}






/*------------- header section ---------------*/

.top-banner {
      background-image: url("images/banner/banner1.png");
      width: 100%;
      height: 808px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 130px;
}

.top-banner-text {
      text-align: end;
      /* vertical-align: middle; */

      padding-top: 10%;
      padding-right: 200px;
      margin-left: 50%;





}

.top-banner-title {
      font-weight: 700;
      font-size: 65px;
}

.top-banner-description {
      font-weight: 400;
      font-size: 16px;
      padding-top: 30px;
      padding-bottom: 30px;
}

.top-banner-button {
      width: 160px;
      height: 64px;
      background: #F15B22;
      border-radius: 5px;
      border: 0;

}

.top-banner-button a {
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      color: white;
}

/* ----------------------------failure section -------------------*/

.failure-previus-yr {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;

}

.failure-image {
      width: 100%;
      padding-left: 100px;
      margin-right: 100px;
}

.failure-text {
      text-align: left;
      padding-right: 100px;
}

.failure-title {
      font-weight: 700;
      font-size: 40px;
}

.failure-description {
      font-weight: 400;
      font-size: 16px;
      color: #444343;
      padding-top: 30px;
      padding-bottom: 30px;

}

.failure-points {
      font-weight: 400;
      font-size: 16px;
      color: #444343;

}

.failure-points li {
      list-style: none;

}

.failure-points .fa-check {
      color: rgb(10, 252, 62);
}


/* ---------------my plan section---------------- */

.my-plan {

      margin: 100px 20%;

}

.my-plan-title {
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      padding-bottom: 70px;
}

.plans {
      display: flex;
      gap: 130px;
}

.plan-item {
      text-align: center;
}

.plan-item-title {
      font-weight: 700;
      font-size: 25px;
      padding: 20px 0;
}

.plan-item-text {
      font-weight: 500;
      font-size: 25px;
      color: #737272;

}

/*--------------------- mindset section------------------- */

.mindset {
      background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(images/watch.png);
      width: 1140px;
      height: 300px;
      /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
      border-radius: 8px;
      margin: 50px auto;

}

.mindset-text {
      margin-left: 50px;
      padding-top: 60px;
      margin-right: 55%;


}

.mindset-title {
      font-weight: 700;
      font-size: 40px;
      color: #FFFFFF;
}

.mindset-button {
      width: 140px;
      height: 54px;
      border-radius: 10px;
      border: 0;
      margin-top: 25px;



}

.mindset-button a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 400;
}


/*------------------------- footer section--------------------- */

.footer {
      display: flex;
      background-color: black;
      width: 100%;

}

.future {
      width: 50%;
      margin-left: 20%;

      margin-top: 100px;
      margin-bottom: 100px;

}

.future-title {
      color: white;
      font-weight: 700;
      font-size: 45px;
}

.future-description,
.future-email,
.future-phone {
      color: white;
      font-weight: 400;
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
}

.subscribe {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 200px;
      gap: 40px;
}

.subscribe-title {
      color: white;
      font-weight: 600;
      font-size: 25px;
}

.subscribe-email {
      width: 280px;
      height: 24px;
      padding: 20px;
      color: #afacac;
      font-weight: 600;
      font-size: 20px;
      background-color: black;
}

.subscribe-btn {
      width: 150.11px;
      height: 44px;
      border-radius: 10px;
}

.subscribe-btn a {
      text-decoration: none;
      color: #F15B22;
      font-size: 18px;
      font-weight: 600;
}


/* -----------------------additional section--------------------*/
.new-year-world {
      margin: 80px 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
}

.new-year-text {
      margin: 150px 100px;

}

.new-year-title {
      font-size: 30px;
      font-weight: 700;
      color: rgb(255, 102, 0);
      font-family: sans-serif;
      padding-bottom: 50px;
}

.new-year-description {
      color: #310505;
      font-size: 18px;
      font-weight: 600;
}


.new-year-images {
      display: flex;
      padding-right: 0px;
      padding-left: 0;

}


.card {
      width: 230px;
      height: 260px;
      height: #000;
      display: inline-block;
      border-radius: 10px;
      padding: 15px 25px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 15px;
      background-position: center;
      background-size: cover;
      transition: tranform .5s;

}

.card1 {
      background-image: url(images/new-year-world/new-year-london.jpg);
}

.card2 {
      background-image: url(images/new-year-world/new-year-germany.jpg);
}

.card3 {
      background-image: url(images/new-year-world/new-year-thailand.jpg);
}

.card4 {
      background-image: url(images/new-year-world/new-year-UAE.jpg);
}

.card:hover {
      transform: translateY(-10px);

}

h5 {
      color: rgba(255, 255, 255, 0.541);
      text-shadow: 0 0 5px #999;
      font-size: 30px;

}